<!doctype html>
<html ng-app="frame">
	<head>
		<link rel="stylesheet" href="bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="style.css" type="text/css" />
        <script>document.write('<base href="' + document.location + '" />');</script>
	</head>
	<body child-frame ng-model="jobInterests">
        <div class="form-group required">
            <label for="jobInterests">Interests</label>
            <textarea name="jobInterests" id="jobInterests" ng-model="jobInterests" class="form-control" rows="4" placeholder="Tell us about your sectors of interest"></textarea>
        </div>
    </body>
    <script src="angular.min.js"></script>
    <script src="frame.js"></script>
</html>